@font-face {
font-family: Maven;
src: url("MavenPro-VariableFont_wght.ttf");
}
.container-sm{
    max-width: 900px;
}

.navbar{
    /* box-shadow: 0 2px 2px -2px rgba(0,0,0,.5);
    background-color: #27262E; */
    color:#555155;
    font-size:24px;
}
.navbar-brand{
    color:#555155;
    font-size:30px;
}
.navbar-brand:hover{
    color:  #7c800e;
}
body{
    font-family: Maven;
    background-color: white;
    color: #555155;
    padding:0;

}
b{
    color: #7c800e;
}
p{
    margin:0;
}.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.b-example-divider {
    height: 3rem;
    
}
    
a{
    text-decoration: none;
    color:#555155;
}
a:hover{
    color: #7c800e;
}
bi {
    vertical-align: -.125em;
    fill: currentColor;
}
